
<section class="alert-background">
  <div class="container"> 
    <div class="row">
      <div class="col-md-12 alert-heading">
        <h3>Alerts</h3>
      </div>
    </div>
    <div class="row">
   <div class="col-md-12 table-responsive">
      <table class="table table-striped table-border text-center">
          <thead>
              <tr class="table-heading">
                <th scope="col" style="width:10%;">Sr. No.</th>
                <th scope="col" style="width:20%;">Alert Type</th>
                <th scope="col" style="width:35%;">Message</th>
                <th scope="col" style="width:35%;">Date & Time</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>Payment</td>
              <td>Payment due in 10 days</td>
              <td><p class=" m-0">12-05-2020</p> <p class=" m-0">05:00 AM</p></td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>User limit</td>
              <td>You have 10 customers left for enrollment limit</td>
              <td><p class=" m-0">12-05-2020</p> <p class=" m-0">05:00 AM</p></td>
            </tr>
            <tr>
              <td scope="row">3</td>
              <td>Subscription Update</td>
              <td>Your package has been updated</td>
              <td><p class=" m-0">12-05-2020</p> <p class=" m-0">05:00 AM</p></td>
            </tr>

            <tr>
                <td scope="row">4</td>
                <td>Branch Update</td>
                <td>New branch has been added</td>
                <td><p class=" m-0">12-05-2020</p> <p class=" m-0">05:00 AM</p></td>
            </tr>

            <tr>
                <td scope="row">5</td>
                <td>Deal Update</td>
                <td>New deal has been added</td>
                <td><p class=" m-0">12-05-2020</p> <p class=" m-0">05:00 AM</p></td>
            </tr>
          </tbody>
        </table>
        
   </div>
    </div>
  </div>
</section>